{% extends "blank.html" %}

{% block title %}
<title>Cabinet</title>
{% endblock %}

{% block head %}
{{user.surname}} {{user.name}}
{% endblock %}

{% block content %}
<h5>as creator</h5>
<table class="table table-sm table-dark">
    <thead>
        <tr>
            <th class="text-center" scope="col" style="width: 50% !important;">Name</th>
            <th class="text-center" scope="col" style="width: 50% !important;">Date</th>
        </tr>
    </thead>
    <tbody>
        {% for user in as_creator.values() %}
        <tr>
            <td class="text-center"><a class="btn btn-link" href="/event/{{user.get('id', '')}}" role="button">{{user.get('name', '')}}</a></td>
            <td class="text-center">{{user.get('date', '')}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h5>as presenter</h5>
<table class="table table-sm table-dark">
    <thead>
        <tr>
            <th class="text-center" scope="col" style="width: 50% !important;">Name</th>
            <th class="text-center" scope="col" style="width: 50% !important;">Date</th>
        </tr>
    </thead>
    <tbody>
        {% for user in as_presenter.values() %}
        <tr>
            <td class="text-center"><a class="btn btn-link" href="/event/{{user.get('id', '')}}" role="button">{{user.get('name', '')}}</a></td>
            <td class="text-center">{{user.get('date', '')}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h5>as guest</h5>
<table class="table table-sm table-dark">
    <thead>
        <tr>
            <th class="text-center" scope="col" style="width: 50% !important;">Name</th>
            <th class="text-center" scope="col" style="width: 50% !important;">Date</th>
        </tr>
    </thead>
    <tbody>
        {% for user in as_guest.values() %}
        <tr>
            <td class="text-center"><a class="btn btn-link" href="/event/{{user.get('id', '')}}" role="button">{{user.get('name', '')}}</a></td>
            <td class="text-center">{{user.get('date', '')}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block extra_js %}
{% endblock %}