<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="{{ url_for('static', filename='sbadmin/img/favicon.ico') }}">

    <title>Events - Register</title>

    <!-- Custom fonts for this template-->
    <link href="static/sbadmin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="static/sbadmin/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">
        <div class="row justify-content-center">

            <div class="col-xl-6 col-lg-10 col-md-7">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-3">
                        <div class="p-3">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            {% from "_formhelpers.html" import render_field %}
                            <form role="form" id="f_register" action="" method="POST" enctype="multipart/form-data" oninput='password_repeat.setCustomValidity(password_repeat.value != password.value ? "Passwords do not match." : "")'>
                                <fieldset>
                                    {{form.hidden_tag()}}
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <input class="text-primary form-control form-control-user register_user_mail" style="border-radius: 10rem;" id="mail" aria-describedby="emailHelp" name="mail" required type="text" value="" placeholder="Enter Email Address...">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <input class="text-primary form-control form-control-user register_user_name" style="border-radius: 10rem;" id="name" name="name" required type="text" value="" placeholder="Enter name">
                                        </div>
                                        <div class="col-sm-6">
                                            <input class="text-primary form-control form-control-user register_user_surname" style="border-radius: 10rem;" id="surname" name="surname" required type="text" value="" placeholder="Enter surname">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <input class="text-primary form-control form-control-user register_user_password" style="border-radius: 10rem;" id="password" name="password" required type="password" value="" placeholder="Password">
                                        </div>
                                        <div class="col-sm-6">
                                            <input class="text-primary form-control form-control-user" style="border-radius: 10rem;" id="password_repeat" name="password_repeat" required type="password" value="" placeholder="Repeat password">
                                        </div>
                                    </div>
                                    <p id="message"></p>
                                    <button type="submit" class="btn btn-primary" style="border-radius: 10rem;">Register</button>
                                </fieldset>
                                <hr>
                                <a class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Register with Google (not yet)
                                </a>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="/login">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/static/sbadmin/vendor/jquery/jquery.min.js"></script>
    <script src="/static/sbadmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/sbadmin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/sbadmin/js/sb-admin-2.min.js"></script>

    <script src="/static/custom_js/register.js"></script>

</body>

</html>